.username {
    border: 0;
    font-family: var(--font-inter);
    font-size: 20px;
    background-color: transparent;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
  }

  .password {
    border: 0;
    font-family: var(--font-inter);
    font-size: var(--font-size-xl);
    background-color: transparent;
    font-weight: 700;
    color: var(--color-gray);
    text-align: left;
  }

  .icon,
.vectorIcon {
  position: relative;
  width: 35px;
  height: 64.1px;
}
.icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.search {
  text-transform: capitalize;
}
.forAnything {
  text-transform: lowercase;
}
.searchForAnythingContainer {
  position: relative;
}
.frame,
.searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.searchBox {
  background-color: #4663ff;
  width: 336px;
  padding: var(--padding-xs) 56px var(--padding-xs) 40px;
  box-sizing: border-box;
}
.frame {
  flex: 1;
  overflow: hidden;
}
.home {
  position: relative;
  text-transform: capitalize;
}
.accountWrapper {
  justify-content: center;
}
.accountWrapper,
.navLinks,
.navs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navLinks {
  flex: 1;
  justify-content: space-between;
  font-size: var(--font-size-base);
}
.navs {
  background-color: #667eea;
  width: 1440px;
  overflow: hidden;
  justify-content: flex-start;
  padding: 11px 205px 8.867240905761719px;
  box-sizing: border-box;
  gap: var(--gap-188xl);
  text-align: left;
  font-size: 14px;
  color: var(--white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 960px) {
  .frame,
  .navLinks {
    flex: unset;
    align-self: stretch;
  }
  .navs {
    flex-direction: column;
    gap: var(--gap-188xl);
    align-items: center;
    justify-content: flex-start;
  }
}