.username {
    border: 0;
    font-family: var(--font-inter);
    font-size: 20px;
    background-color: transparent;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
  }

  .password {
    border: 0;
    font-family: var(--font-inter);
    font-size: var(--font-size-xl);
    background-color: transparent;
    font-weight: 700;
    color: var(--color-gray);
    text-align: left;
  }

